In [31]:
import pandas as pd
import analyze as an

In [32]:
an.basic_analysis("./test/image_ids.csv", "./test/labels.csv", "./test/relationships.csv")

average number of labels per image: 6.2357858722140636

In [12]:
test_ids.describe(include='all')

,ImageID,Subset,OriginalURL,OriginalLandingURL,License,AuthorProfileURL,Author,Title,OriginalSize,OriginalMD5,Thumbnail300KURL,Rotation
count,125436,125436,125436,125436,125436,125436,125436,125436,1.254360e+05,125436,120869,109178.000000
unique,125436,1,125436,125436,1,31721,31111,114154,NaN,125418,120869,NaN
top,e1d6da85b39d2a80,test,https://c5.staticflickr.com/9/8214/8296913236_...,https://www.flickr.com/photos/whiparound/50828...,https://creativecommons.org/licenses/by/2.0/,https://www.flickr.com/people/exfordy/,Brian Snelson,Untitled,NaN,wDy2PvFMIhn6AMMFTWjWVA==,https://c3.staticflickr.com/6/5791/20998109572...,NaN
freq,1,125436,1,1,125436,133,133,2306,NaN,2,1,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.989062e+06,NaN,NaN,3.032754
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.437902e+06,NaN,NaN,27.190437
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.307000e+03,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.526975e+05,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.050555e+06,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.843878e+06,NaN,NaN,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.572118e+07,NaN,NaN,270.000000

In [14]:
test_labels.describe(include='all')

                 ImageID        Source LabelName     Confidence
count             772776        772776    772776  772776.000000
unique            123926             2       589            NaN
top     e75c980c218966f0  verification  /m/04rky            NaN
freq                  28        771782     39955            NaN
mean                 NaN           NaN       NaN       0.561632
std                  NaN           NaN       NaN       0.496187
min                  NaN           NaN       NaN       0.000000
25%                  NaN           NaN       NaN       0.000000
50%                  NaN           NaN       NaN       1.000000
75%                  NaN           NaN       NaN       1.000000
max                  NaN           NaN       NaN       1.000000

In [28]:
test_labels['ImageID'].nunique()

123926

In [29]:
test_labels['ImageID'].count()

772776

In [30]:
print("average number of labels per image: " + str(test_labels['ImageID'].count() / test_labels['ImageID'].nunique()))

average number of labels per image: 6.2357858722140636